/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

.minor-section {
  padding: 2px;
  margin-bottom: 10px;
  background-color: rgb(20, 20, 218);
  border:dotted 8px #57b3f8
}

h1 {
  text-align:center;
  color: rgb(27, 29, 30);
  font-size: 200%;
  background-color: rgb(20, 20, 218);
  border:dotted 8px #57b3f8
  
  
}

#output { 
  background-color: rgb(20,20,218);
  border:dotted 8px #57b3f8;

}
p{
font-family:'Times New Roman', Times, serif;
margin-left:10px  
}







