/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

.minor-section {
  padding: 2px;
  margin-bottom: 10px;
  background-color: #ece556;
  border:dotted 8px #57b3f8
}

h1 {
  text-align:center;
  color: rgb(76, 76, 158);
  font-size: 200%;
  
}
p{
font-family:'Times New Roman', Times, serif;
margin-left:10px  
}







