/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

#background {
  background-image: url("../img/backgroundcat.png");
  background-size:cover;
  background-position:center;
}

.minor-section {
  padding: 2px;
  margin-bottom: 10px;
  background-color: #cac7e3;
}

h1 {
  text-align:center;
  color: rgb(12, 12, 132);
  font-size: 200%;
  padding: 2px;
  margin-bottom: 10px;
  background-color: hsl(245, 22%, 80%);

}









