/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */


body{
  background-color: #9fd6d9;
}
.minor-section {
  padding: 2px;
  margin-bottom: 10px;
  background-color: #d6b3b3;
  border:solid rgb(200, 139, 133);
 
}

h1 {
  text-align:center;
  color: rgb(18, 85, 129);
  font-size: 200%;

}

/* #debugImg {
  max-width: 40%;
  display: block;
}

#lab2Img {
  max-width: 40%;
  display: block; */
/* } */

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 40%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}









