/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 2px;
    margin-bottom: 10px;
    background-color: #7e75d6;
  }

 h1 {
    text-align:center;
    color: navy;
    font-size: 200%;

  }
  img{
    margin-top: 0;
    display: block;
    max-height: 700px;
    max-width: 700px;
    object-fit:contain;
  }

p {
  margin-top: 0;

}

p {

  border: none;
}
 p{
  font-family:'Times New Roman', Times, serif;
  margin-left:10px  
 }

  





